:root {
    --cyan-principal: #0891B2;
    --cyan-hover: #0E7490;
    --cyan-claro: #67E8F9;

    --fondo-base: linear-gradient(180deg, #ECFEFF 0%, #E0F2FE 100%);
    --fondo-claro: #F8FAFC;
    --fondo-tarjeta: #FFFFFF;

    --texto-principal: #0F172A;
    --texto-secundario: #334155;

    --borde-suave: #CBD5E1;
}

/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base */
body {
    font-family: Arial, sans-serif;
    background: var(--fondo-base);
    color: var(--texto-principal);
    min-height: 100vh;
}

/* Header principal */
header {
    position: relative;
    background: linear-gradient(135deg, var(--cyan-principal), var(--cyan-hover));
    color: white;
    padding: 60px 40px;
    min-height: 400px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.header-content {
    max-width: 600px;
    z-index: 2;
}

.website-label {
    background: white;
    color: var(--cyan-principal);
    padding: 6px 18px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 2px;
    display: inline-block;
    transform: rotate(-2deg);
}

.header-content h1 {
    font-size: 52px;
    font-weight: 800;
    margin-bottom: 20px;
}

.header-content p {
    font-size: 18px;
    line-height: 1.6;
}


/* Imagen header */
.header-image {
    position: absolute;
    right: 0;
    top: 10px;
    width: 45%;
    height: 100%;
}

.header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 0 0 25px;
    box-shadow: -20px 20px 40px rgba(0,0,0,0.22);
}


/* Contenedor */
.container {
    max-width: 1200px;
    margin: -40px auto 0;
    padding: 0 20px 40px;
}

/* Grid principal */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

/* Cards página principal */
.card {
    background: var(--fondo-tarjeta);
    padding: 40px 30px;
    border-radius: 15px;
    text-align: center;
    border-top: 5px solid var(--cyan-principal);
    transition: all 0.3s ease;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* sombra */

}

.card:hover {
    transform: translateY(-10px);
    border-top-color: var(--cyan-hover);
}

.card .icon {
    font-size: 56px;
    margin-bottom: 20px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 15px;
    position: static;
}

.card p {
    font-size: 15px;
    color: var(--texto-secundario);
}

/* Header interno */
.internal-header {
    background: linear-gradient(135deg, var(--cyan-principal), var(--cyan-hover));
    color: white;
    padding: 40px 30px;
    display: flex;
    align-items: center;
    min-height: auto;
}

.internal-header h2 {
    font-size: 80px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

/* Contenido de páginas */
.content-page {
    background: var(--fondo-tarjeta);
    padding: 50px;
    border-radius: 15px;
    max-width: 1200px;
    margin: auto;
    border: 1px solid var(--borde-suave);
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

/* Títulos SOLO dentro del content-page */
.content-page > h1 {
    font-size: 34px;
    margin-bottom: 32px;
    padding-left: 16px;
    position: relative;
}

.content-page > h1::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 6px;
    height: 65%;
    background: var(--cyan-principal);
    transform: translateY(-50%);
    border-radius: 3px;
}

.content-page h2 {
    font-size: 26px;
    margin: 40px 0 22px;
    color:#0E7490;
    text-align: center;
}

.content-page h3 {
    font-size: 20px;
    color: var(--cyan-principal);
    margin: 8px 0 16px;
}

.content-page p {
    font-size: 16px;
    line-height: 1.9;
    color: var(--texto-secundario);
    margin-bottom: 20px;
}

.contenedor-degradado {
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  /* Fondo degradado */
  background: linear-gradient(to right, #0891B2, #0E7490, #67E8F9); /* Degradado de azul a azul claro */
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Listas */
.list {
    list-style: none;
    margin: 30px 0;
}

.list li {
    background: #F8FAFC;
    border-left: 6px solid var(--cyan-principal);
    padding: 18px 22px;
    margin-bottom: 16px;
    border-radius: 10px;
}

/* Grid de ejemplos */
.examples-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
    margin-top: 30px;
    align-items: stretch;    /*hace que todas las cards tengan la misma altura */

}

/* Flip cards */
.flip-card {
    perspective: 1200px;
    height: 100%;
    min-height: 350px; /* altura base flexible */    
}

.flip-card-inner {
    position: relative;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
}

.flip-card input {
    display: none;
}

.flip-card input:checked + .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    inset: 0;
    padding: 20px;
    border-radius: 18px;
    backface-visibility: hidden;
    background: #e5edf8;
    border-left: 6px solid var(--cyan-principal);
    display: flex;
    flex-direction: column;

    
}

.flip-card-back {
    transform: rotateY(180deg);
}
.flip-hint {
    margin-top: 20px;
    font-size: 13px;
    color: var(--cyan-principal);
    font-weight: bold;
    text-align: center;
}

/* Código */
.code-block {
    background: #0F172A;
    color: #E2E8F0;
    padding: 14px 18px;
    border-radius: 12px;
    font-family: "Courier New", monospace;
    font-size: 14px;
    margin: 20px 0;
    overflow-x: auto;
    max-height: 180px;
    overflow-y: auto;
    line-height: 1.6;
    

}
.code-block code {
    padding: 0;
    margin: 0;
    display: block;
}

pre.code-block {
    padding-top: 0px;
}

/* Botón volver */
.btn-back {
    background: var(--cyan-principal);
    color: white;
    padding: 15px 35px;
    border-radius: 25px;
    display: inline-block;
    margin: 30px;
    text-decoration: none;
}

/* Footer */
footer {
    background: var(--texto-principal);
    color: white;
    padding: 30px;
    text-align: center;
    margin-top: 60px;
}


hr {
    border: none;
    height: 2px;
    background: var(--cyan-principal);
    margin: 0px 0px 30px 0px;
   
}

/* TABLA COMPARATIVA */

.tabla {
    margin-top: 20px;
}

.tabla table {
    width: 100%;
    border-collapse: collapse;
}

.tabla th,
.tabla td {
    border: 1px solid var(--borde-suave);
    padding: 10px;
    text-align: left;
}

.tabla th {
    background-color: var(--cyan-claro);
    font-weight: bold;
}
.tabla td {
    background-color: var(--fondo-claro);
}

/* IMÁGENES Y DIAGRAMAS*/

.image-container {
    margin: 20px 0;
    text-align: center;
    background: var(--cyan-claro);
    border-radius: 10px;
    padding: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.image-caption {
    font-size: 0.9rem;
    color: #555;
    margin-top: 8px;
}

/* Responsive */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 30px 20px;
    }

    .header-image {
        position: relative;
        width: 100%;
        height: 260px;
        margin-top: 30px;
    }

    .content-page {
        padding: 30px 20px;
    }
}

@media (max-width: 480px) {
    .header-content h1 {
        font-size: 28px;
    }

    .internal-header h2 {
        font-size: 28px;
    }

    .card h2 {
        font-size: 20px;
    }
}
